.mock-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 5px;
}

.mock-search{
    width: 200px;
}

.mock-baseInfo-form{
    .ant-input[disabled]{
        font-size: 16px;
        color: black;
    }
}


// --------------------------
// detail
.mock-header-box{
    display: flex;
    justify-content: space-between;
    //padding: 5px;
}

.mock-baseInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mock-request{
    margin: 20px 0 0 0;
}

.mock-resp-code{

    .ant-form-item{
        margin-bottom: 0;
    }
}

.mock-response{
    margin: 20px 0 ;
}



// mockFormParam

.updateToggle-focus{
    display: block;
}

.updateToggle-blur{
    display: none;
}

