@font-face {
  font-family: "iconfont"; /* Project id 2517386 */
  src: url('iconfont.woff2?t=1721013168626') format('woff2'),
       url('iconfont.woff?t=1721013168626') format('woff'),
       url('iconfont.ttf?t=1721013168626') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinjian:before {
  content: "\e60c";
}

.icon-version-ee:before {
  content: "\e784";
}

.icon-meihua:before {
  content: "\e646";
}

.icon-dakaixinyemian:before {
  content: "\e637";
}

.icon-riqi:before {
  content: "\e617";
}

.icon-liaotian:before {
  content: "\e615";
}

.icon-user1:before {
  content: "\ed68";
}

.icon-cloud:before {
  content: "\ed6a";
}

.icon-hospital:before {
  content: "\ed6c";
}

.icon-game:before {
  content: "\ed6d";
}

.icon-api1:before {
  content: "\e61f";
}

.icon-jingxuan:before {
  content: "\e618";
}

.icon-jilu:before {
  content: "\e61b";
}

.icon-paihang:before {
  content: "\e61d";
}

.icon-xukezheng:before {
  content: "\e623";
}

.icon-jiaosequanxian:before {
  content: "\e667";
}

.icon-anquan:before {
  content: "\e60d";
}

.icon-plugin:before {
  content: "\e616";
}

.icon-qiehuan1:before {
  content: "\e789";
}

.icon-tianjia:before {
  content: "\e64b";
}

.icon-lishi:before {
  content: "\e60b";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-Solid-up:before {
  content: "\e604";
}

.icon-Solid-right:before {
  content: "\e609";
}

.icon-jiantou-shang2:before {
  content: "\e63d";
}

.icon-icon-1:before {
  content: "\e65b";
}

.icon-ico-:before {
  content: "\e815";
}

.icon-31fanhui1:before {
  content: "\e608";
}

.icon-btn_confirm:before {
  content: "\e60f";
}

.icon-jiesuo:before {
  content: "\e66b";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-arrow-down:before {
  content: "\e606";
}

.icon-zhankai:before {
  content: "\e6b5";
}

.icon-xinzeng:before {
  content: "\e6c8";
}

.icon-xinzeng-copy:before {
  content: "\ec3a";
}

.icon-gengduo:before {
  content: "\e605";
}

.icon-more:before {
  content: "\e626";
}

.icon-paixu-jiangxu:before {
  content: "\e65f";
}

.icon-paixu-shengxu:before {
  content: "\e660";
}

.icon-icon-:before {
  content: "\e62e";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-ceshi-copy:before {
  content: "\ec38";
}

.icon-fasong-copy:before {
  content: "\ec39";
}

.icon-fasong:before {
  content: "\e666";
}

.icon-ceshi:before {
  content: "\e853";
}

.icon-jiantou_shangxiaqiehuan:before {
  content: "\eb09";
}

.icon-jiantou_shangxiaqiehuan_o:before {
  content: "\eb90";
}

.icon-shequ:before {
  content: "\e67e";
}

.icon-icon_bangzhuwendang:before {
  content: "\eb92";
}

.icon-gongdan:before {
  content: "\ec37";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-bangzhu1:before {
  content: "\e61a";
}

.icon-zuijinfangwen-:before {
  content: "\e696";
}

.icon-daibanshixiang:before {
  content: "\e6e3";
}

.icon-qiehuan:before {
  content: "\e656";
}

.icon-xiaoxi1:before {
  content: "\e774";
}

.icon-bianji11:before {
  content: "\e619";
}

.icon-shanchu3:before {
  content: "\e621";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-rizhijilu:before {
  content: "\e61e";
}

.icon-xiaoxi:before {
  content: "\e611";
}

.icon-zu:before {
  content: "\e614";
}

.icon-geren:before {
  content: "\e657";
}

.icon-jiqun-mianxing:before {
  content: "\e65e";
}

.icon-changjing:before {
  content: "\e673";
}

.icon-tianjia-:before {
  content: "\e607";
}

.icon-chuangjiantianjiapiliangtianjia:before {
  content: "\e624";
}

.icon-shanchu2:before {
  content: "\e603";
}

.icon-shanchu1:before {
  content: "\e68e";
}

.icon-bianji1:before {
  content: "\e613";
}

.icon-bianji2:before {
  content: "\e795";
}

.icon-bianji3:before {
  content: "\e610";
}

.icon-xiangmu1:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e601";
}

.icon-yuyan:before {
  content: "\e640";
}

.icon-fanhui2:before {
  content: "\e6ff";
}

.icon-back:before {
  content: "\e622";
}

.icon-fenzu:before {
  content: "\e629";
}

.icon-erji-dingshirenwu:before {
  content: "\eaae";
}

.icon-jihua:before {
  content: "\e643";
}

.icon-dingshi:before {
  content: "\e645";
}

.icon-fanhui:before {
  content: "\e669";
}

.icon-kuaijieyingyon:before {
  content: "\e67b";
}

.icon-kuaijierukou:before {
  content: "\e6c2";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-jiekou:before {
  content: "\e66a";
}

.icon-layers:before {
  content: "\e676";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-quanxian:before {
  content: "\e612";
}

.icon-chengyuan:before {
  content: "\e61c";
}

.icon-user:before {
  content: "\e99e";
}

.icon-fanhui1:before {
  content: "\e602";
}

.icon-api:before {
  content: "\e63b";
}

.icon-home:before {
  content: "\e674";
}

.icon-modular:before {
  content: "\e678";
}

.icon-shanchu:before {
  content: "\e8b6";
}

