

.wsAside{
    height: 100%;
    background: white;
}


.category-search{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}


// -------------------------------------------------------
/* categoryNav */

.allapi{
    padding: 10px 0 8px 26px;
    border-bottom: 1px solid var(--pi-border-color);
    cursor: pointer;
}

.allapi:hover{
    background: var(--pi-border-color);
}

.categoryNav-ui{
    ul{
        margin: 0;
        padding: 0;
    }
    margin: 0;
    padding: 0;
}
.categoryNav-li{
    cursor: pointer;
    line-height: 35px;
    padding: 0 0 0 10px;
}
.categoryNav-li:hover{
    background-color: var(--pi-hover-color);
}

.action-li{
    background-color: var(--pi-action-color);
}

.ant-list-item{
    justify-content: center;
}

.tree-span{
    display: block;
    width:100%;
    height: 35px;
    padding-left:25px ;
}

.tree-hidden{
    display: none;
    transition: 1s;
}

.tree-childspan{
    display: block;
    width:100%;
    height: 35px;
    // margin-left:-40px;
}

.methodli{
    width: 100%;
    height: 35px;
    padding-left: 25px;
    line-height: 35px;
}

.category-action{
    display: none;
    width: 42px;
    font-size: 24px;

    .category-action-more{
        width: 60px;
        display: flex;
        justify-content: space-around;


        .addApi{
            padding: 5px 0 0 7px;
        }

    }

    .category-nav-item-icon{
        cursor: pointer;
        margin: 4px 0 0;
    }
}



.cate-li{
    position: relative;
}

.category-action-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cate-li:hover .category-action{
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}

.ws-left-tree-drop{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 1px solid var(--pi-border-color);
    padding: 3px;
    border-radius: var(--pi-border-radius);
    margin: 0 0 0 5px;
    cursor: pointer;
}



