
.structure-content{
    overflow: auto;
    height: 100%;
    padding: 10px;

    &-box{
        height: 100%;
        margin: 0 auto;
        width: 1180px;
        background: white;
        border-radius: var(--pi-border-radius);

        &-main{
            //padding: 0 15px;

            &-detail{
                margin: 0 0 25px;

                div{
                    line-height: 35px;
                }
            }
        }
    }
}

.structure-item-list{

    &-header{
        display: flex;
        justify-content: end;
    }

    .ant-table-thead > tr > th{
        background: white;
    }

    .ant-table-tbody > tr > td{
        padding: 8px;
    }
}


.out-table-box{
    th{
        background:  white !important;

    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before{
        position: inherit;
    }

    .ant-table-thead>tr .ant-table-cell{
        font-size: 12px;
        font-weight: 600;
    }

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px;
    }


}

.def-mode-li{
    padding: 10px;
    border-bottom: 1px solid var(--pi-border-color);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;


    .def-mode-li-title{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}



.def-mode-li:hover{
    background: var(--pi-hover-color);
}

.def-mode-btn{
    padding: 0 0 0 10px;
    cursor: pointer;
}

