
.qk-test-box{
    height: 100%;

    .ant-tabs-tabpane{
        height: 100%;
    }

    .ant-tabs-tab .ant-tabs-tab-active .ant-tabs-tab-btn {
        color:  var(--pi-base-color);
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active{

        border-top: 2px solid var(--pi-base-color);
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab{
        border-top: 2px solid #fff;
    }

    .ant-tabs-tab-btn{
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        text-indent: 0;
    }


    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu{
        margin: 0 20px 0 0;
        width: 60px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
        background: #fff;
    }

    .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        border-bottom: 1px solid var(--pi-border-color);
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add{
        border-bottom: 1px solid var(--pi-border-color)!important;
    }

    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
        margin: 0;
    }

    .quicktest-left{
        width: 220px;
        border-right: 1px solid var(--pi-border-color);
    }

    .quicktest-right{
        padding: 0 10px;
        flex-grow: 2;
        overflow: auto;
    }

}

.quicktest-contant{
    display: flex;
    height: 100%;
}

.qt-left-header{
    padding: 10px;
    border-bottom:1px solid var(--pi-border-color) ;
    display: flex;
    justify-content: space-around;
    align-content: center;

    .qt-left-heaer-clear{
        margin: 0 0 0 5px;
        line-height: 32px;
        cursor: pointer;
    }
}

//leftList
.qt-left-list{
    overflow: auto;
    height: calc(100% - 53px);

    .qt-left-list-li{
        padding:5px 5px 5px 10px;
        cursor: pointer;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid var(--pi-border-color);
        position: relative;

        .qt-left-list-box-ellipsis{
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            padding: 0 25px 0 0;
        }

        .qt-left-list-icon{
            display: none;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 16px;
            right: 10px;
        }


        .qt-left-list-li-status{
            margin: 0 10px 0 5px;
            font-size: 13px;
        }
    }

    .qt-left-list-li:hover .qt-left-list-icon{
        display: block;
    }

    .qt-left-list-li:hover{
        background: var(--pi-hover-color);
    }

}

.qt-left-empty{
    align-items: center;
    overflow: auto;
    padding: 100px 0;
}


//tab
.tab-pane{
    max-width:300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.white-bg-box{
    background-color: white;
    //padding: 10px;
    //margin: 10px 0;
    border-radius: var(--pi-border-radius);
}

