
.qk-test-box{
    height: 100%;

    .ant-tabs-tabpane{
        height: 100%;
    }

    .ant-tabs-tab .ant-tabs-tab-active .ant-tabs-tab-btn {
        color:  var(--pi-base-color);
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active{

        border-top: 2px solid var(--pi-base-color);
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab{
        border-top: 2px solid #fff;
    }

    .ant-tabs-tab-btn{
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        text-indent: 0;
    }


    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu{
        margin: 0 20px 0 0;
        width: 60px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab{
        background: #fff;
    }

    .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        border-bottom: 1px solid var(--pi-border-color);
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add{
        border-bottom: 1px solid var(--pi-border-color)!important;
    }

    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
        margin: 0;
    }

    .quicktest-left{
        width: 220px;
        border-right: 1px solid var(--pi-border-color);
    }

    .quicktest-right{
        padding: 0 10px;
        flex-grow: 2;
        overflow: auto;
    }

}

.quicktest-contant{
    display: flex;
    height: 100%;
}

.qt-left-header{
    padding: 6px 10px 10px 15px;
    //border-bottom:1px solid var(--pi-border-color) ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .qt-left-heaer-clear{
        width: 30px;
        height: 30px;
        background: #f0f0f0;
        /* padding: 0px; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px 0 0 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.qt-left-search{
    margin: 0 10px 10px;
    border: 1px solid #f4f4f4;
}

//leftList
.qt-left-list{
    overflow: auto;
    overflow-x: hidden;
    padding: 5px 5px 5px 10px;
    border-top:1px solid var(--pi-border-color);
    height: calc(100% - 91px);

    .ant-tree{
        background: #fafbfc;

        .ant-tree-treenode{
            align-items: center;
        }
        .ant-tree-indent-unit{
            width: 18px;
        }

        .ant-tree-switcher-noop{
            display: none;
        }

        .ant-tree-title{
            width: 100%;
            padding: 1px 0
        }
    }

    .qt-left-list-li{
        //padding: 4px 0px 4px 0px;
        cursor: pointer;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        //border-bottom: 1px solid var(--pi-border-color);
        position: relative;

        .qt-left-list-box-ellipsis{
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            padding: 0 25px 0 0;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .qt-left-list-icon{
            display: none;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 6px;
            right: -2px;
        }


        .qt-left-list-li-status{
            margin: 0 5px 0 5px;
            font-size: 13px;
        }
    }

    .qt-left-list-li:hover .qt-left-list-icon{
        display: block;
    }

}

.qt-left-empty{
    align-items: center;
    overflow: auto;
    padding: 100px 0;
}


//tab
.tab-pane{
    max-width:300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.white-bg-box{
    background-color: white;
    //padding: 10px;
    //margin: 10px 0;
    border-radius: var(--pi-border-radius);
}

