.ws-header-menu{
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;

    .ws-header-menu-left{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .ws-header-menu-item{
        padding: 8px 3px;
        cursor: pointer;
        border-bottom:2px solid  #ffffff00;

        span{
            font-size: var(--pi-font-size-14);
        }
    }

    .ws-header-menu-item:hover{
        border-bottom:2px solid  var(--pi-base-color);
        color:  var(--pi-base-color);
    }

    .ws-header-menu-item-selected{
        color:  var(--pi-base-color);
        border-bottom:2px solid  var(--pi-base-color);
    }

    .ws-header-menu-input{
        width: 200px;
        height: 32px;
        border-radius: var(--pi-border-radius);
        border: var(--pi-input-border);
    }
}
