.message-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--pi-border-color);
    padding: 10px 0;

    .message-item-left{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .message-item-icon{
            cursor: pointer;
            margin: 0 20px 0 10px;
        }

        &-detail{
            width: 240px;

            .message-item-left-content{
                font-size: 13px;
                color: #9b9b9b;
                margin: 5px 0;
            }
            .message-item-left-time{
                font-size: 13px;
                color: #aaaaaa;
                margin: 0 0 0 20px;
            }
        }
    }

    .message-item-right{
        display: flex;
        align-items: center;
        justify-content: center;


        &-content{
            background: var(--pi-action-color);
            border-radius: 10px;
            padding: 5px;
            color: #fff;
            font-size: 12px;
        }
    }



}
