*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
    /* 默认有边距，都要清除 */
    margin: 0;
    padding: 0;
    /*字体设置*/

    /* 去掉列表的原点 */
    list-style: none;
    /* 默认鼠标 */
    cursor: default;
}

/*控制整个滚动条*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/*滚动条两端方向按钮*/
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .6);
}

/*滚动条右下角区域*/
::-webkit-scrollbar-corner {
    background-color: white;
}


/*面包屑*/
.breadcrumb-contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--pi-border-color);
    margin: 0 0 10px 0;
}

.apibox-breadcrumb{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 0 0 5px 0;
}

.bread-cursor{
    cursor: pointer;
}

.ant-modal-mask {
    background-color: #4a60848f!important;
}

.ant-modal-title {
    font-weight: 600!important;
}

.ant-input-affix-wrapper>input.ant-input{
    font-size: var(--pi-font-size-13);
}

.ant-input-affix-wrapper{
    border-radius: var(--pi-border-radius);
    border: var(--pi-input-border);
}

.table-delete{
    color: #ff0000;
}

table .icon{
    margin:0 ;
}

.important-btn{
    background: var(--pi-base-color)!important;
    color: #fff!important;
    border-radius: var(--pi-border-radius);
    font-size: var(--pi-font-size-13);
}


.ant-modal-header{
    padding: 20px 23px 0;
    border: none;
}

.ant-modal-footer{
    border: none;


}

.ant-modal-body{
    padding: 5px 20px;

    .ant-form-item{
        margin: 20px 0;
    }
}

.ant-form-item-label{
    font-weight: 600;
    font-size: 12px;
    color: #1d1d1d;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: '';
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.ant-tooltip-inner{
    font-size: var(--pi-font-size-12);
}


.ant-input{
    border-radius: var(--pi-border-radius);
}


.icon {
    width: 18px;
    height: 18px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin:0 5px  ;
}


.icon-s {
    width: var(--pi-icon-s);
    height: var(--pi-icon-s);

}

.icon-m {
    width: var(--pi-icon-m);
    height: var(--pi-icon-m);
}

.icon-l {
    width: var(--pi-icon-l);
    height: var(--pi-icon-l);
}
.icon-x {
    width: var(--pi-icon-x);
    height: var(--pi-icon-x);
}


.pi-show{
    display: block;
    margin: 10px 0;
}

.pi-hide{
    display: none;
}

.pi-box-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**面包屑**/
.breadcrumb-box{
    font-weight: bold;

    .first-item:hover{
        cursor: pointer;
        color: #48a8d9;
    }
}

.ws-img-icon{
    width: 40px;
    height: 40px;
}

.workspace-icon{
    width:var(--pi-icon-x);
    height:var(--pi-icon-x);
    padding: 3px;
}





.home-recent-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:15px 0;

    .home-recent-item{
        height: 95px;
        width: 235px;
        border-radius: var(--pi-border-radius) ;
        margin: 0 3px 0 0;
        background: var(--pi-bg-grey-100);
        padding: 10px;
        cursor: pointer;
        border-bottom: 2px solid #ffffff00;


        &-left{
            display: flex;
            align-items: center;

            &-name{
                margin: 0 0 0 10px;
                font-size: var(--pi-font-size-16);
                font-weight: bold;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }


        &-num{
            padding: 12px 0 0 0;
            display: flex;
            align-items: center;
            font-size: 12px;

            &-title{
                color: #9b9b9b;
                margin: 0 10px 0 0;
            }
        }
    }

    .home-recent-item:hover{
        border-radius: var(--pi-border-radius) var(--pi-border-radius) 0 0;
        border-bottom: 2px solid var(--pi-base-color);
        transition: 1s;
    }

    .ant-empty{
        margin: 0 auto;
    }

}

.demo-loadmore-list {
    min-height: 350px;

    .ant-list-items .ant-list-item{
        border: none;
    }

}

.wscontant-contant{
    flex:1;
    overflow: auto;
}

.postin-show{
    display: block;
}
.postin-hide{
    display: none;
}

.link-text{

    &:hover{
        color: var(--thoughtware-blue);
        cursor: pointer;
    }
}

.icon-bg-border{
    //border: 1px solid #bfbfbf;
    border-radius: 4px;
}


.tabPane-item-box{
    min-height: 120px;
    //overflow: auto;

    th{
        background:  var(--pi-bg-color) !important;
    }

    .ant-table-thead>tr .ant-table-cell{
        font-weight: var(--pi-font-weight-light);
        padding: 7px;
        font-size: 13px;
    }

    .newRow-action-hidden{
        display: none;
    }
    .newRow-action-show{
        display: block;
    }

    .ant-table-tbody>tr>td,  .ant-table tfoot>tr>td, .ant-table tfoot>tr>th{
        padding: 2px !important;
    }
}

.content-margin{
    height: 100%;
    overflow: auto;

    .content-margin-box{
        margin: 0 auto;
        max-width: 1440px;
    }

    .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        content: none;
    }
}

.padding-left-right{
    padding-right:30px;
    padding-left: 30px;
}

.padding-top-bottom{
    padding-top:20px;
    padding-bottom: 20px;
}


.component-box{
    margin-bottom: 30px;
}

.title-font-weight-500{
    font-weight: 600;
}

.ant-form-vertical .ant-form-item-label > label{
    color: #6e6e6e;
    font-size: 12px;
}

.header-title{
    font-weight: var(--pi-font-weight-title);
    font-size: var(--pi-font-size-13);
}


.ws-detail-main-content{
    height: calc(100% - 48px);
    display: flex;
}
.ws-detail-contant{
    height: 100%;
    display: flex;
}
.ws-detail-left{
    width: 80px;
    height: 100%;
    position:relative;
    background: var(--pi-bg-grey-100);
    box-shadow: 3px 0 5px -5px rgb(0 0 0 / 30%);
    z-index: 1;
}

.ws-detail-right{
    width: 100%;
}
