.category-search{
    display: flex;
    justify-content: space-between;
}

/* categoryNav */
.allapi{
    padding: 10px 0 8px 26px;
    border-bottom: 1px solid var(--pi-border-color);
    cursor: pointer;
}

.allapi:hover{
    background: var(--pi-border-color);
}

.categoryNav-ui{
    ul{
        margin: 0;
        padding: 0;
    }
    margin: 0;
    padding: 0;
}
.categoryNav-li{
    cursor: pointer;
    line-height: 35px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
}
.categoryNav-li:hover{
    background-color: var(--pi-hover-color);
}

.action-li{
    background-color: var(--pi-action-color);
}

.tree-span{
    height: 35px;
    padding-left:25px ;
}

.tree-hidden{
    display: none;
    transition: 1s;
}

.tree-childspan{
    width:100%;
    height: 35px;
}

.methodli{
    width: 100%;
    height: 35px;
    padding-left: 25px;
    line-height: 35px;
}

.node-box-bg{
    display: none;
    margin: 0 25px;
}

.node-box{
    display: none;
    position: absolute;
    right: 0;
    font-size: 24px;

    .node-box-more{
        display: flex;
        justify-content: space-around;

        .addApi{
            padding: 5px 0 0 7px;
        }

    }

    .category-nav-item-icon{
        cursor: pointer;
        margin: 4px 0 0;
    }
}

.node-box-right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    height: 100%;
    padding:0 10px;
}


.ant-tree .ant-tree-node-content-wrapper:hover .node-box{
    display: block;
}
.ant-tree .ant-tree-node-content-wrapper:hover .node-box-bg{
    display: block;
}

//.cate-li:hover .node-box{
//    display: block;
//    height: 100%;
//}




.cate-node-name{
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}


.ws-left-tree-drop{
    width: 32px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0 0 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background: #f1f3fa;
        border: 1px solid #eeeeee;
    }
}



.category-name{
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 82%;
}



.ws-detail-menu{
    height: 100%;
    display: flex;
    flex-direction: column;

    .api-category-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 0 12px;

        .api-category-header-title{
            font-size: 16px;
            font-weight: bold;
        }
    }

    .ws-detail-menu-serchbtn{
        margin: 10px;
        display: flex;
        justify-content: space-around;
        border: 1px solid #f4f4f4;
    }
    .api-search-box{
        background: #fafbfc;
        .ant-input{
            background: #fafbfc;
        }
    }

    .ws-detail-menu-ul-box{
        overflow: auto;
        overflow-x: hidden;
        padding: 5px;
        border-top:1px solid var(--pi-border-color);
        height: 100%;

        .ant-tree{

            .ant-tree-indent-unit{
                width: 13px;
            }

            .ant-tree-title{
                padding: 0;
                height: 32px;
                line-height: 32px;
            }

            .ant-spin-nested-loading{
                height: 100%;
                .ant-spin-container{
                    height: inherit;
                }
            }
        }
    }

}


.header-right-box{
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 10;
}

