

.wsAside{
    height: 100%;
    //background: var(--pi-bg-grey-100);
}


.category-search{
    display: flex;
    justify-content: space-between;
}


/* categoryNav */

.allapi{
    padding: 10px 0 8px 26px;
    border-bottom: 1px solid var(--pi-border-color);
    cursor: pointer;
}

.allapi:hover{
    background: var(--pi-border-color);
}

.categoryNav-ui{
    ul{
        margin: 0;
        padding: 0;
    }
    margin: 0;
    padding: 0;
}
.categoryNav-li{
    cursor: pointer;
    line-height: 35px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
}
.categoryNav-li:hover{
    background-color: var(--pi-hover-color);
}

.action-li{
    background-color: var(--pi-action-color);
}


.tree-span{
    height: 35px;
    padding-left:25px ;
}

.tree-hidden{
    display: none;
    transition: 1s;
}

.tree-childspan{
    width:100%;
    height: 35px;
}

.methodli{
    width: 100%;
    height: 35px;
    padding-left: 25px;
    line-height: 35px;
}

.node-box-bg{
    display: none;
    margin: 0 25px;
}

.node-box{
    display: none;
    position: absolute;
    right: 0;
    font-size: 24px;

    .node-box-more{
        display: flex;
        justify-content: space-around;


        .addApi{
            padding: 5px 0 0 7px;
        }

    }

    .category-nav-item-icon{
        cursor: pointer;
        margin: 4px 0 0;
    }

}
.node-box-right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    height: 100%;
    padding:0 10px;
}


.ant-tree .ant-tree-node-content-wrapper:hover .node-box{
    display: block;
}
.ant-tree .ant-tree-node-content-wrapper:hover .node-box-bg{
    display: block;
}

//.cate-li:hover .node-box{
//    display: block;
//    height: 100%;
//}




.cate-node-name{
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}


.ws-left-tree-drop{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: var(--pi-border-radius);
    margin: 0 0 0 5px;
    cursor: pointer;
}


.ws-detail-menu-serchbtn{
    padding: 10px;
    border-bottom:1px solid var(--pi-border-color) ;
    display: flex;
    justify-content: space-around;
}

.category-name{
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 82%;
}

.pi-list-box{
    border-bottom: 1px solid var(--pi-border-color);

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px;
    }

    .ant-table-thead > tr > th{
        background:var(--pi-bg-color);
        font-weight: 600;
        font-size: 12px;
    }

    .ant-table-tbody > tr > td{
        border-bottom: 0;
    }

    .tablelist  .ant-spin-nested-loading .ant-spin-container .ant-table-container .ant-table-tbody{
        border-bottom: 1px solid var(--pi-border-color);
    }

    .ant-table-tbody>tr>td,  .ant-table tfoot>tr>td, .ant-table tfoot>tr>th{
        padding: 8px ;
    }

    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
        content: none;
    }
}


//treeNode
.ant-tree .ant-tree-treenode{
    width: 100%;
}

.ant-tree-title{
    display: inline-block;
    width: 90%
}

.ant-tree .ant-tree-node-content-wrapper{
    width: 100%;
    display: flex;
}

.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle{
    min-width: 24px;
    width: unset;
}

.node-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ant-tree-switcher{
    padding: 5px 0;
    width: 22px;
}

.ant-tree .ant-tree-node-content-wrapper{
    padding: 5px 0;
    margin: 0 6px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected{
     background: var(--pi-action-color);
 }
