//requestType
.requestType{
    height: 25px;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
}

.requestType-post{
    color: white;
    background: var(--pi-error-color);
}

.requestType-post-text{
    color: var(--pi-error-color);
}

.requestType-get{
    color: white;
    background: var(--pi-success-color);
}
.requestType-get-text{
    color: var(--pi-success-color);
}

.requestType-delete{
    color: white;
    background: var(--pi-delete-color);
}
.requestType-delete-text{
    color: var(--pi-delete-color);
}

.requestType-head{
    color: white;
    background: var(--pi-head-color);
}
.requestType-head-text{
    color: var(--pi-head-color);
}

.requestType-put{
    color: white;
    background: var(--pi-put-color);
}
.requestType-put-text{
    color: var(--pi-put-color);
}

.requestType-options{
    color: white;
    background: var(--pi-option-color);
}
.requestType-options-text{
    color: var(--pi-option-color);
}

.requestType-patch{
    color: white;
    background: var(--pi-patch-color);
}
.requestType-patch-text{
    color: var(--pi-patch-color);
}


.ws-side-menu{
    border-right: 1px solid var(--pi-greyf9-color);
    background: #fdfdfd;
}

.ws-detail-title{
    font-size: var(--tiklab-font-lg);
    font-weight: var(--pi-font-weight-title);
}

.back-contant:hover{
    color: #48a8d9;
    cursor: pointer;


}

.back-ex-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid var(--pi-border-color);
    height: 42px;
}


.CodeMirror-scroll{
    min-height: 150px;
}



.sort-box{
    position:relative;
    padding: 10px;

    .sort-show-box{
        position: absolute;
        width: 160px;
        left: -116px;
        background: rgb(255 255 255);
        padding: 10px;
        z-index: 10;
        border: 1px solid var(--pi-border-color);
        box-shadow: var(--pi-box-shadow);
        border-radius: 5px;
        display: none;

        &-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &-sort{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30px;


                .sort-icon{
                    width:25px;
                    height:25px;
                    display: none;
                    padding: 5px;
                }

                .sort-icon:hover{
                    background: var(--pi-greyf9-color);
                    cursor: pointer;
                    border-radius: 5px;
                }

                .sort-icon-asc:hover{

                }

                .sort-icon-desc{

                }

                .action-sort{
                    cursor: pointer;
                    background: var(--pi-greyf9-color);
                    border-radius: 5px;
                    display: block;
                }
            }
        }


        //&-item:hover{
        //    cursor: pointer;
        //    background: #e2e2e2;
        //    border-radius: 5px;
        //}

        //&-item:hover .sort-icon-asc{
        //    display: block;
        //}
        //
        //&-item:hover .sort-icon-desc{
        //    display: block;
        //}
    }


}
.sort-box:hover .sort-show-box{
    display: block;
}


