//requestType
.requestType{
    height: 25px;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 500;
}

.requestType-post{
    color: white;
    background: #ff2000;
}

.requestType-post-text{
    color: #ff1d00;
}

.requestType-get{
    color: white;
    background: #2bd583;
}
.requestType-get-text{
    color: #2bd583;
}

.requestType-delete{
    color: white;
    background: #ff8181;
}
.requestType-delete-text{
    color: #ff8181;
}

.requestType-head{
    color: white;
    background: #439591;
}
.requestType-head-text{
    color: #439591;
}

.requestType-put{
    color: white;
    background: #7e97bd;
}
.requestType-put-text{
    color: #7e97bd;
}

.requestType-options{
    color: white;
    background: #7e97bd;
}
.requestType-options-text{
    color: #7e97bd;
}

.requestType-patch{
    color: white;
    background: #7e97bd;
}
.requestType-patch-text{
    color: #7e97bd;
}


.ws-side-menu{
    border-right: 1px solid #e4e4e4;
}



.back-contant:hover{
    color: #48a8d9;
    cursor: pointer;


}

.back-ex-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    height: 42px;
}


