
.header-right-search{
    position: relative;
}

.search-list{
    width: 400px;
    min-height: 100px;
    position: absolute;
    left: -85px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin: 5px 0 0 0;
    border-radius: var(--pi-border-radius);
    z-index: 1;
    padding: 10px ;

    .same-result{
        border: 1px solid var(--pi-border-color);
        border-radius:var(--pi-border-radius);
        margin: 5px 0 10px 0;
    }

    .search-title{
        border-bottom: 1px solid var(--pi-border-color);
        padding: 5px 0 5px 7px
    }

    .list{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        transition: 0.5s;
        border-bottom: 1px solid var(--pi-border-color)
    }
    .list:hover{
        background-color: #f5f5f5;
    }
}

.search-hide{
    display: none;
}

.search-show{
    display: block;
}


// searchResult

.search-result{
    display: flex;
    justify-content: center;
    margin: 20px;

    .search-content{
        width: 800px;
    }
    .search-input{
        display: flex;
    }

    .searchresult-list{
        width: 25%;
        min-height: 101px;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0 0 0 / 20%);
        margin: 35px 0 0 0;
        border-radius: var(--pi-border-radius);
        z-index: 1;
        padding: 10px;

        .same-index{
            border: 1px solid var(--pi-border-color);
            border-radius: var(--pi-border-radius);
            margin: 5px 0 10px 0;
        }

        .title{
            border-bottom: 1px solid var(--pi-border-color);
            padding: 5px 0 5px 7px
        }
    
        .list{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            transition: 0.5s;
            border-bottom: 1px solid var(--pi-border-color)
        }
        .list:hover{
            background-color: var(--pi-greyf9-color);
        }
    }
    
    .hide{
        display: none;
    }

    .show{
        display: block;
    }

    .tabs{
        margin: 20px 0;
    }

    .tabpane{
        margin: 0 10px 0 0;
    }

    .title{
        font-weight: bold;
    }

    .item{
        margin: 5px;
        padding: 5px;
        border: 1px solid var(--pi-greyf9-color);
        transition: 0.5s;
        border-radius: var(--pi-border-radius);
        cursor: pointer;
    }

    .item:hover{
        box-shadow: var(--pi-box-shadow);
    }

    .pagination{
        display: flex;
        justify-content: center;
    }


}