.workspace-setting-box{
    display: flex;
    height: 100%;
}

.workspace-setting-right{
    flex: 1;
    overflow: auto;
}


.ws-detail-left-nav{
    width: 80px;
    height: 100%;
}

.ws-detail-left-nav-item{
    padding: 6px;

    .ws-detail-left-nav-item-box{
        padding: 6px 0;
        border-radius: 5px;
        cursor: pointer;
    }
    .ws-detail-left-nav-item-box:hover{
        background-color: var(--pi-bg-grey-200);
    }

    .ws-detail-left-nav-item-detail{
        display: flex;
        justify-content: center;
    }
    .selectlink{
        background-color: var(--pi-greyf9-color);
    }


}

.ws-nav-setting{
    position: relative;
}

.ws-nav-setting:hover .nav-setting-box{
    display: block;
    z-index: 10;
    background: var(--pi-bg-color);
}

.show-nav-setting{
    display: block;
}

.hide-nav-setting{
    display: none;
}

.nav-setting-box{
    display: none;
    position: absolute;
    top: -80px;
    left: 80px;
    padding: 10px;
    box-shadow: var(--pi-box-shadow);
}

.nav-setting-menu{
    padding: 0;
    margin: 0;


    .nav-setting-item{
        height: 40px;
        width: 150px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        padding: 0 15px;
    }
    .nav-setting-item:hover{
        background-color: var(--pi-greyf9-color);
    }
}

.ws-setting-flex{
    //padding:0 var(--tiklab-padding-item);

    .ws-setting-box{
        max-width: 1200px;
        margin: 0 auto;
        padding: var(--pi-page-padding);
        min-width: 800px;
    }

    .ws-setting-title{
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
    }
}


.ws-setting-delete{
    color: var(--pi-error-color);
    margin: 5px 0 0;
}

.ws-delete-box{
    height: 180px;


    .ws-delete-tip{
        padding: 5px;
        background: #ffe7bb;
        border-radius: 5px;
    }

    .ws-delete-text-bold{
        font-weight: var(--pi-font-weight-title);
    }

    .ws-delete-input-title{
        margin: 25px 5px 5px;
    }

    .ws-delete-modal-btn{
        width: 100%;
        margin: 10px 0;
    }
}

.ws-setting-edit-visibility{
    display: flex;

    .ws-edit-visibility-item{
        width: 255px;
        height: 80px;
        border:1px solid  #d9d9d9;
        border-radius: var(--pi-border-radius);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        margin: 0 30px 0 0;

        &-desc{
            font-size: var(--pi-font-size-12);
            color: #cecece;
            display: flex;
        }
    }


    .ws-edit-visibility-action{
        border: 1px solid var(--pi-base-color);
    }
}

.proxy-content{
    //display: flex;
    padding: 10px;
    margin: 10px 0;
}

