.workspace-setting-box{
    display: flex;
    height: 100%;
}

.workspace-setting-right{
    flex: 1;
}


.ws-detail-left-nav{
    width: 80px;
    height: 100%;
}

.ws-detail-left-nav-item{
    padding: 6px;

}
.ws-detail-left-nav-item-box{
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
}
.ws-detail-left-nav-item-box:hover{
    background-color: var(--pi-greyf9-color);
}

.ws-detail-left-nav-item-detail{
    display: flex;
    justify-content: center;
}
.selectlink{
    background-color: var(--pi-greyf9-color);
}

.ws-nav-setting{
    position: relative;
}

.ws-nav-setting:hover .nav-setting-box{
    display: block;
    z-index: 10;
    background: var(--pi-bg-color);
}

.show-nav-setting{
    display: block;
}

.hide-nav-setting{
    display: none;
}

.nav-setting-box{
    display: none;
    position: absolute;
    top: -80px;
    left: 80px;
    padding: 10px;
    box-shadow: var(--pi-box-shadow);
}

.nav-setting-menu{
    padding: 0;
    margin: 0;


    .nav-setting-item{
        height: 40px;
        width: 150px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        padding: 0 15px;
    }
    .nav-setting-item:hover{
        background-color: var(--pi-greyf9-color);
    }
}

.ws-setting-flex{
    display: flex;
    justify-content: center;

    .ws-setting-box{
        width: 1240px;
    }

    .ws-setting-title{
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
    }
}