

.home-content{
    overflow: auto;
    background-color:#f0f2f5;
    height: calc(100% - 90px);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
}

.content-div{
    width: 600px;
    height: 600px;
    border: 1px solid #cecece;
}