//workspaceDetailLayout
.ws-detail-contant{
    height: var(--pi-calc-content);
    display: flex;


    .ws-detail-left{
        width: 80px;
        height: 100%;
        position:relative;
        background: var(--tiklab-gray);
    }

    .ws-detail-right{
        width: calc(100% - 80px);
        //

        .wscontant{
            display: flex;
            height: 100%;
            width: 100%;
        }
    }

}



.ws-detail-left-nav{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ws-detail-left-nav-item-workspace{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .ws-detail-left-nav-icon{
        width: 32px;
        height: 32px;
    }

    .ws-left-nav-item{
        margin: 0 0 10px;

        .ws-left-nav-item-box{
            padding: 6px 0;
            cursor: pointer;
            border-left: 3px solid var(--pi-bg-grey-200);
        }
        .ws-left-nav-item-box:hover{
            background-color: var(--pi-hover-color);
        }


        .ws-left-nav-item-detail{
            display: flex;
            justify-content: center;
        }

        .selectlink{
            background-color: var(--pi-action-color);
            border-left: 3px solid var(--pi-base-color);
        }
    }





}



//workspaceContant

.wscontant-box{
    height: 100%;
    margin: 0 auto;
    min-width: 860px;

    .ant-tabs {
        height: 100%;

        .ant-tabs-content{
            height: 100%;
        }
    }

}

.ws-init-content{
    padding: 10px;
}

//workspaceDetailInitPage

.content-margin{
    overflow: auto;
}

.content-margin-box{
    max-width: 1240px;
    margin: 10px;
    min-width: 800px;
    //background: var(--pi-bg-grey-100);
    //padding: 10px;


    .content-margin-box-header{
        //width: 600px;
        padding: 10px ;

        .wd-header-name{
            //height: 25px;
            font-size: 22px;
            border: none;
        }

        .wd-header-desc{
            border: none;
        }
    }

    .wd-title{
        padding: 10px;
        font-weight: 600;
        margin: 10px 0  0 ;
    }

    .wd-total{

        .wd-total-box{
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--pi-border-color);
            padding: 20px;
            border-radius: var(--pi-border-radius);
            background: #fff;
        }

        &-item{
            width: 100px;

            &-title{
                padding: 5px;
                font-size: 28px;
            }

            &-name{
                padding: 5px;
            }
        }

    }

}


.proxy-box{
    position: relative;

    .proxy-content{
        display: none;
        width: 188px;
        position: absolute;
        top: -80px;
        left: 80px;
        padding: 10px;
        box-shadow: var(--pi-box-shadow);
        background: var(--pi-bg-color);
        z-index: 10;
    }
}

.proxy-box:hover .proxy-content{
    display: block;
}

.page-center{
    width: 1180px;
    padding: 0 16px;
    margin: 0 auto;

}

.ws-icon-box{
    position: relative;
    display: flex;
    align-items: center;

    .ws-hover-box{
        display: none;
        width: 240px;
        position: absolute;
        top: -10px;
        left: 72px;
        padding: 10px;
        box-shadow: var(--pi-box-shadow);
        background: #fff;
        z-index: 10;
        min-height:285px;
        overflow: auto;
    }

    .ws-hover-item{
        border-bottom: 1px solid var(--pi-border-color);
        border-radius: var(--pi-border-radius);
        padding: 5px;
        margin: 2px 0 0 0;
        display: flex;
        align-items: center;
    }

    .ws-hover-item:hover{
        background: #f6f6f6;
        cursor: pointer;
    }

    .ws-hover-box-title{
        border-bottom: 1px solid var(--pi-border-color);
        padding: 0 0 5px 5px;
        font-weight: 600;
    }

    .ws-icon-box-toggle-icon{
        width: var(--pi-icon-s);
        height: var(--pi-icon-s);
    }
}

.ws-detail-left-nav-item-workspace:hover .ws-hover-box{
    display: block;
}


.ws-select-box{
    width: 200px;
    height: 32px;
    border-radius: var(--pi-border-radius);
    border: var(--pi-input-border);
    background-color: white;
    margin: 0 10px!important;
    font-size: 12px!important;
}

.workspace-detail-text-icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #bfe6ff;
    width: var(--pi-icon-x);
    height: var(--pi-icon-x);
}

