//workspaceDetailLayout
.ws-detail-contant{
    height: calc(100% - 50px);
    display: flex;


    .ws-detail-left{
        width: 80px;
        height: 100%;
        position:relative;
        background: #f3f3f3;
    }

    .ws-detail-right{
        width: calc(100% - 80px);
    }

}



//leftNav
.ws-detail-left-nav-ws{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;


    .ant-avatar{
        width: 40px;
        height: 40px;
    }


    .ant-avatar.ant-avatar-icon {
        font-size: 22px;
    }
}




.ws-detail-left-nav{
    width: 80px;
    height: 100%;

    .ws-detail-left-nav-item-workspace{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
    }

    .ws-detail-left-nav-icon{
        width: 32px;
        height: 32px;
    }

    .ws-detail-left-nav-item{
        padding: 6px;

        .ws-detail-left-nav-item-box{
            padding: 6px 0;
            border-radius: 5px;
            cursor: pointer;
        }
        .ws-detail-left-nav-item-box:hover{
            background-color: #fcfcfc;
        }


        .ws-detail-left-nav-item-detail{
            display: flex;
            justify-content: center;
        }
    }

    .selectlink{
        background-color: #fcfcfc;
    }



}

//workspaceDetailPage
.ws-detail-page{
    width: 1240px;
    margin: 0 auto;
}

//workspaceContant

.wscontant-box{
    //width: 1240px;
    margin: 0 auto;
}

.api-footer{
    border: 1px solid #e1e1e1;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//workspaceDetailInitPage
.wd-content{
    width: 1200px;

    .wd-content-header{
        width: 600px;
        padding: 10px;

        .wd-header-name{
            height: 50px;
            font-size: 28px;
            border: none;
        }

        .wd-header-desc{
            border: none;
        }
    }

    .wd-title{
        padding: 10px;
        font-weight: 600;
        margin: 35px 0  0 ;
    }

    .wd-total{

        .wd-total-box{
            display: flex;
            justify-content: space-between;
            border: 1px solid #e4e4e4;
            padding: 20px;
            border-radius: 5px;
        }

        &-item{
            width: 100px;

            &-title{
                padding: 5px;
                font-size: 28px;
            }

            &-name{
                padding: 5px;
            }
        }

    }

}


.proxy-box{
    position: relative;

    .proxy-content{
        display: none;
        width: 188px;
        position: absolute;
        top: 0;
        left: 80px;
        padding: 10px;
        box-shadow: 0 0 12px 1px #ddd;
        background: #fff;
        z-index: 10;
    }


}

.proxy-box:hover .proxy-content{
    display: block;
}

.page-center{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
