//workspaceDetailLayout
.ws-detail-contant{
    height: calc(100% - 50px);
    display: flex;


    .ws-detail-left{
        width: 80px;
        height: 100%;
        position:relative;
        background: var(--pi-greyf9-color);
    }

    .ws-detail-right{
        width: calc(100% - 80px);
    }

}



.ws-detail-left-nav{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ws-detail-left-nav-item-workspace{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .ws-detail-left-nav-icon{
        width: 32px;
        height: 32px;
    }

    .ws-detail-left-nav-item{
        padding: 6px;

        .ws-detail-left-nav-item-box{
            padding: 6px 0;
            border-radius: var(--pi-border-radius);
            cursor: pointer;
        }
        .ws-detail-left-nav-item-box:hover{
            background-color: var(--pi-hover-color);
        }


        .ws-detail-left-nav-item-detail{
            display: flex;
            justify-content: center;
        }
    }

    .selectlink{
        background-color: var(--pi-action-color);
    }



}



//workspaceContant

.wscontant-box{
    //width: 1240px;
    margin: 0 auto;
}


//workspaceDetailInitPage
.wd-content{
    width: 1200px;

    .wd-content-header{
        width: 600px;
        padding: 10px;

        .wd-header-name{
            height: 50px;
            font-size: 28px;
            border: none;
        }

        .wd-header-desc{
            border: none;
        }
    }

    .wd-title{
        padding: 10px;
        font-weight: 600;
        margin: 35px 0  0 ;
    }

    .wd-total{

        .wd-total-box{
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--pi-border-color);
            padding: 20px;
            border-radius: var(--pi-border-radius);
        }

        &-item{
            width: 100px;

            &-title{
                padding: 5px;
                font-size: 28px;
            }

            &-name{
                padding: 5px;
            }
        }

    }

}


.proxy-box{
    position: relative;

    .proxy-content{
        display: none;
        width: 188px;
        position: absolute;
        top: -80px;
        left: 80px;
        padding: 10px;
        box-shadow: var(--pi-box-shadow);
        background: var(--pi-bg-color);
        z-index: 10;
    }


}

.proxy-box:hover .proxy-content{
    display: block;
}

.page-center{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.ws-icon-box{
    position: relative;
    display: flex;
    align-items: center;

    .ws-hover-box{
        display: none;
        width: 240px;
        position: absolute;
        top: -10px;
        left: 82px;
        padding: 10px;
        box-shadow: var(--pi-box-shadow);
        background: #fff;
        z-index: 10;
        min-height:285px;
        overflow: auto;
    }

    .ws-hover-item{
        border-bottom: 1px solid var(--pi-border-color);
        border-radius: var(--pi-border-radius);
        padding: 5px;
        margin: 2px 0 0 0;
        display: flex;
        align-items: center;
    }

    .ws-hover-item:hover{
        background: #f6f6f6;
        cursor: pointer;
    }

    .ws-hover-box-title{
        border-bottom: 1px solid var(--pi-border-color);
        padding: 0 0 5px 5px;
        font-weight: 600;
    }
}

.ws-detail-left-nav-item-workspace:hover .ws-hover-box{
    display: block;
}