body{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}

.ant-table{
    font-size: 13px;
}

//------------------------------------------
//dragbox
.changeBox{
    width: 240px;
    background: #f7f7f7;
    border-right: 1px solid var(--pi-border-color);
}


.middleBox{
    width:4px;
    //border-right: 1px solid #e4e4e4;
}

.middleBox:hover{
    cursor: col-resize;
    background:var(--pi-border-color);
    border: none;
}

.middleBox:active{

}

.workspace-icon{
    width:36px;
    height:36px;
    margin:2px 0 0 0;
}


.list-box-cell{

    .ant-table-thead > tr > th{
        background:var(--pi-bg-color);
    }

    .ant-table-tbody>tr>td,  .ant-table tfoot>tr>td, .ant-table tfoot>tr>th{
        padding: 8px ;
    }

    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
        content: none;
    }
}

.ws-user-item{
    display: flex;
    align-items: center;

    .ant-avatar{
        width: var(--pi-icon-m)!important;
        height: var(--pi-icon-m)!important;
    }
}

// --------------------------------------------
// --workspace--

.ws-layout{
    width: 1080px;
    padding: 0 16px;
    margin: 0 auto;
    height: calc(100% - 50px);
}

.ws-side{
    border-right: 1px solid var(--pi-border-color);
}

.ws-header-menu{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    //border-bottom: 1px solid  var(--pi-border-color);

    .ws-header-menu-left{
        display: flex;
        align-items: center;
    }

    .ws-header-menu-right{
        display: flex;
    }

    .ws-header-menu-item{
        padding: 10px;
        margin: 0 15px 0 0;
        cursor: pointer;
        border-bottom: 3px solid #ffffff00;

        span{
            font-size: var(--pi-font-size-14);
            //font-weight: var(--pi-font-weight-title);
        }
    }

    .ws-header-menu-item:hover{
        border-bottom:3px solid  var(--pi-base-color);
        color:  var(--pi-base-color);
    }

    .ws-header-menu-item-selected{
        color:  var(--pi-base-color);
        border-bottom:3px solid  var(--pi-base-color);
    }

    .ws-header-menu-input{
        width: 200px;
        height: 32px;
        border-radius: var(--pi-border-radius);
        border: var(--pi-input-border);
    }
}



.ws-content{
    flex: 1;

    background-color:  var(--pi-bg-color);
    height: 100%;
    //background-color: #f0f0f0;
}

.ws-content-box{
    //min-width: 1140px;
    //margin: 0 auto;
    padding: 10px;
}

.ws-menu-ul-show{
    display: block;
}

.ws-menu-ul-collapsed{
    display: none;
}

// ws左侧导航
.ws-menu-ul {
    padding: 0;
    .ws-menu-li {
        padding: 0 40px;
        height: 40px;
        width: 240px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: var(--pi-border-radius);
        margin: 5px;
    }

    .ws-menu-li:hover{
        background-color:  var(--pi-hover-color);
        //margin: 5px 20px;
    }
    .ws-menu-li-action{

        background-color:  var(--pi-action-color);

    }
}


.ws-menu-icon{
    flex-grow: 1;
    margin-left: 20px;
}

.ws-menu-title{
    flex-grow: 3;
    font-weight: bold;
    margin: 0 0 0 15px;
}

.action-li{
    background-color:  var(--pi-action-color);
}


// --------------------------------------------
// --workspaceEdit --
.ws-edit-modal-form{
    text-align: center;
    margin: 10px 50px 0 0;
}

.ws-edit-modal-form-submit{
    margin-left: -120px ;
}

.ws-edit-box{


    .ant-input{
        //height: 36px;
        border-radius: var(--pi-border-radius);
        //font-size: var(--pi-font-size-12);
    }


}

.ws-edit-visibility{
    display: flex;
    justify-content: space-between;

    &-item{
        width: 255px;
        height: 80px;
        border:1px solid  #d9d9d9;
        border-radius: var(--pi-border-radius);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;

        &-desc{
            font-size: var(--pi-font-size-12);
            color: #cecece;
            display: flex;
        }
    }

    .ws-edit-visibility-action{
        border: 1px solid var(--pi-base-color);
    }

}


// --------------------------------------------
// --workspaceList --

.wslist-searchbtn{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.wslist-eibtn{
    display: flex;
    justify-content: space-between;
}


// --------------------------------------------
// --workspaceDetailMenu--

.ws-menu{
    height: 100%;
}


.detailmenu-fold{
    height: 100%;
}

.ws-detail-menu{
    height: 100%;
    display: flex;
    flex-direction: column;

}

.ws-detail-menu-ul-box{
    overflow: auto;
    overflow-x: hidden;
    height: 85%;
    padding: 5px 0;
}



.ws-detail-menu-ul-show{
   display: block;
}

.ws-detail-menu-ul-collapsed{
   display: none;
}

.ws-detail-menu-serchbtn{
    padding: 10px;
    border-bottom:1px solid var(--pi-border-color) ;
    display: flex;
    justify-content: space-around;
}
.ws-detail-menu-protitle{
    display: flex;
    justify-content: space-around;
}

.ws-detail-menu-set{
    padding: 10px 0;
    display: flex;
    border-top: 1px solid  var(--pi-border-color);
}

.ws-detail-menu-text{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.iconmenu-unfold{
    height: 100%;
}

.ws-detail-iconMenu{
    ul{
        height: 93%;
        width: 100%;
        padding:1px 0;
        li{
            text-align: center;
            line-height: 45px;
            height: 45px;
            margin: 20px 0 ;

        }
    }
   height: 100%;
}

.detailmenu-unfold{
    padding: 15px 0;
    text-align: center;
}


.show-category:hover + .show-categorynav{
    display: block;
}

.show-categorynav{
    position: absolute;
    margin: -50px 0 0 80px;
    display: none;
    width: 100px;
    box-shadow:var(--pi-box-shadow);
    // border: 1px solid black;
}

.show-categorynav:hover{
    display: block;
}


.ws-show-set{
    display: block;
}
.ws-hide-set{
    display: none;
}

.wscontant{
    display: flex;
    height: 100%;
}




.wscontant-contant{
    flex:1;
    overflow: auto;
    background: var(--tiklab-white);
}

.wsAside{
    height: 100%;
}


.pi-input{
    width: 200px;
    border:var(--pi-input-border)
}