


.edit-icon{
    cursor:pointer;
    margin: 5px 0 0;
}

.edit-icon-nav{
    cursor:pointer;
}

.form-info{
    padding: 10px 25px;

    .ant-input[disabled] {
        font-size: 14px;
        color: #000;
        cursor: text;
    }
}

.ex-title{
    margin: 20px 0 0;

}


.edit-api-name{
    font-size:20px;
    cursor: auto
}

.ediText-edit{
    background: var(--pi-bg-color);
    border: none;
    padding: 0;
    cursor: pointer;
}

.ediText-save{
    display: none;
}

.ediText-cancel{
    display: none;
}

.edit-api-title{
    cursor: auto;
}


.table-edit-icon{
    cursor: pointer;
    margin: 0 5px;
}

.method-header{
    line-height: 47px;
    background-color:var(--pi-bg-color);
    height: 50px;
    border-bottom:1px solid var(--pi-border-color) ;
    padding: 0;
}

.method-menu-box>.ant-menu-horizontal{
    border-bottom:0
}



.method-menu{
    background-color:var(--pi-bg-color);
}


.out-table-box{
    th{
        background:  white !important;
    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before{
        position: inherit;
    }

    .ant-table-thead>tr .ant-table-cell{
        font-weight: 500;
        font-size: 14px;
    }

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px;
    }


}


.api-script-box{

    .ant-form-item{
        margin: 0;
    }

    .api-script-pre-header{
                        height: 30px;
        background: #f7f7f7;
    }
}


.api-base-info-header{
    display: flex;
    align-items: center;
    height: 32px;

    &-name{


        input{
            height: 32px;
        }
    }
}

.ediText-btn{
    background: rgba(250, 250, 250, 0);
    border: none;
    cursor: pointer;
}


.pi-edit-item-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}


.api-base-info-box{
    display: flex;
    align-items: center;

    .api-base-info-protocol{
        margin-right: 10px;
        background: #0078d4;
        padding: 0 5px;
        border-radius: 2px;
        color: white;
        height: 22px;
    }
}

.api-base-info-box-name{
    input{
        width: 480px;
        border: none;
    }
    input:hover{
        background: var(--pi-hover-color);
    }

    .ant-form-item{
        margin: 0;
    }
}


.api-detail-base-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 10px 0;


    &-name{
        input{
            height: 32px;
        }
    }

    .requestType{
        font-size: 14px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        height: 32px;
        border: none;
        padding: 0;
        border-radius:var(--pi-border-radius);

        span{
            line-height: 32px;
        }

        .ant-select-selection-item{
            span{
                line-height: 32px;
            }

        }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover{
        background: var(--pi-hover-color);
    }

    .api-base-info-box-name:hover{
        background: var(--pi-hover-color);
        border-radius: var(--pi-border-radius);
    }

    .api-base-edit-url-box{

        input{
            width: 480px;
            border: none;
        }
        input:hover{
            background: var(--pi-hover-color);
        }

        .ant-form-item{
            margin: 0;
        }
    }

    .api-base-edit-url-box:hover{
        background: var(--pi-hover-color);
        border-radius: var(--pi-border-radius);
    }

    .api-base-info-two{
        display: flex;
        align-items: center;
    }
}

.apidetail-title-tool{
    display: flex;
}

/* 可编辑框初始宽度 */
.editable-cell-value-wrap {
    width: 100%;
    height: 100%;
    min-height: 21px;

}

.method-request{
    margin: 0 10px 15px 10px  ;
    padding: 10px ;
    box-sizing: border-box;
    border-radius: 5px;
}

.method-response{
    margin: 15px 10px;
    padding: 10px ;
    box-sizing: border-box;
    border-radius: 5px;
}

.method-name{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 25px;
}

.method{
    margin: 0 0 10px 0 ;

    .method-info{


        .method-info-item{
            margin: 0 10px 0 0;
        }

        .method-info-path{
            font-size: 16px;
            font-weight: 600;
        }
    }

    .info-item{
        margin: 0 0 10px 0;
        display: flex;
        align-items: center;
        height: 41px;
    }

    .method-people-info{
        display: flex;

        .people-item{
            margin: 0 70px 0 0;
            color: #999;
            max-width: 28%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            text-indent: 0;
            font-size: var(--pi-font-size-13);
            line-height: 32px;

            .ant-select-selection-placeholder{
                color: black;
                font-size: 13px;
            }
        }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        border: none;
    }

    .api-base-info-desc{
        margin: 15px 0 0 ;

        &-text{
            color: #9b9b9b;
            font-size: var(--pi-font-size-13);
            cursor: text;
            width: 700px;;
        }

        &-text-show{
            height: 32px;
            line-height: 32px;
        }

        &-text-show:hover{
            background: var(--pi-hover-color);
        }


        &-hide{
            display: none;
        }

    }

}



/* 可编辑表格，当鼠标移入行时，显示单元格*/
.editable-row{
    .editable-cell-value-wrap {
        height: 31.6px;
        padding: 5px 12px;
        cursor: pointer;
        background-color: var(--pi-bg-color);
    }

    .ant-select{
        height: 31.6px;
        cursor: pointer;
        background-color:var(--pi-bg-color);
    }

    .ant-select-arrow{
        display: none;
    }

    .ant-checkbox-inner{
        border:none
    }
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid var(--pi-border-color);
    border-radius: 4px;
    padding: 4px 11px;
}

.editable-row:hover .ant-select {
    border: 1px solid var(--pi-border-color);
    border-radius: 4px;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid var(--pi-border-color);
}

.editable-row:hover .ant-select-arrow{
    display: block;
}

.editable-row:hover .ant-checkbox-inner{
    border: 1px solid var(--pi-border-color);
}




.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:#0053ca;
}
.raw-box{
    .ant-form-item{
        margin: 0;
    }

    .ant-select-selector{
        border: none;
    }

    &-header{
        display: flex;
        background: var(--pi-greyf9-color);
        align-items: center;
        padding: 5px;
    }
}

.textArea-focus{
    display: block;
}

.textArea-blur{
    display: none;
}


.request-radio{
    margin:8px 0 ;
}

.binary-box{
    height: 80px;
}

.api-res-result{
    padding: 0 0 10px 0;
    min-height: 365px;

    &-top-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border: 1px solid var(--pi-border-color);
        border-bottom:none;

        .ant-form-item-label > label{
            color: rgb(151 151 151 / 85%);
            font-size: 13px;
        }

        .ant-form-item-control-input .ant-select .ant-select-selector{
            border: 1px solid #f0f0f0;
        }

        .ant-input{
            border: 1px solid #f0f0f0;
        }

        .ant-form{
            margin: 0!important;
        }

    }

    &-top{
        display: flex;
        gap: 20px;
    }


}

.api-result-box{
    min-height: 365px;

    .api-result-box-tab-item-title{
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }

}
.ant-tabs-dropdown-menu-item{
    .ant-tabs-dropdown-menu-item-remove{
        display: none;
    }
}


.pi-none-process-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 280px;
}