.testCase-header{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}

.testcase-header-right{
    display: flex;
    align-items: center;
    height: 35px;

    input{
        padding: 5px;
    }

    .testcase-header-right-back{

        cursor: pointer;

    }
    //.testcase-header-right-back:hover{
    //    color: #00adff;
    //}

}

.testCase-search{
    width: 200px;
}

// ---------------------
// testCaseDetail
.testCase-baseInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.testcase-name{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.testCase-baseInfo-form{
    .ant-input[disabled]{
        font-size: 16px;
        color: black;
    }
}


// responseTestcase

.testcase-response-show {
    display: block;
}

.testcase-response-hide {
    display: none;
}

.testcase-response-before {
    background-color: var(--pi-greyf9-color);
    width: 100%;
    height: 200px;
    position: relative;
}

.testcase-response-before-alert{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


