.editable-row-padding>.ant-table-cell{
    padding: 5px;
}

.request-body-none{
    border: 1px solid var(--pi-border-color);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabPane-item-box{
    min-height: 120px;
    overflow: auto;

    .ant-table-wrapper{
        //min-width: 860px;
    }

    .ant-table-tbody>tr>td,  .ant-table tfoot>tr>td, .ant-table tfoot>tr>th{
        padding: 2px !important;
    }
}

.column-name{
    width: 150px;
}