.api-status-add-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--pi-border-color);
    cursor: pointer;
}

.api-status-add-box:hover{
    background: var(--pi-bg-color);
}


.api-status-title{
    padding: 10px;
}

.api-status-system-box{
    display: flex;
    //justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.api-status-bottom{
    padding: 10px;
    .ant-form-item{
        margin: 0;
    }

    .api-status-create {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.api-status-custom-box{
    //display: flex;
    //min-height: 200px;
    padding: 10px;

}

.status-color-box{
    position: relative;

    &-picker{
        display: none;
        position: absolute;
        top: 30px;
        left: -95px;
    }

    &-select{
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

}
.status-color-box:hover .status-color-box-picker{
    display: block;
    z-index: 10;
    background: var(--pi-bg-color);
    transition: 1s;
    cursor: pointer;
}

.status-option-bg{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px 3px 0;
    border-radius: var(--pi-border-radius);
}

.workspace-text-icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #d6efff;
    width: 36px;
    height: 36px;
}

