$borderRadius:5px;


.home-detail-right-top-workspace-detail {
    border-radius: $borderRadius;
}

.home-item-box{
    border: 1px solid #e4e4e4;
    padding: 20px;
    height: 150px;
}


.home-item{
     width: 100px;

     &-total{
         padding: 5px;
         font-size: 28px;
         cursor: pointer;
     }

     &-name{
         padding: 5px;
         color: #a9a9a9;
     }
 }