body{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}

.ant-table{
    font-size: 13px;
}

/*------------------------------------------*/
/*dragbox*/



.pi-list-box{
    border-bottom: 1px solid var(--pi-border-color);

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px;
    }

    .ant-table-thead > tr > th{
        background:var(--pi-bg-color);
        font-weight: 600;
        font-size: 12px;
    }

    .ant-table-tbody > tr > td{
        border-bottom: 0;
    }

    .tablelist  .ant-spin-nested-loading .ant-spin-container .ant-table-container .ant-table-tbody{
        border-bottom: 1px solid var(--pi-border-color);
    }

    .ant-table-tbody>tr>td,  .ant-table tfoot>tr>td, .ant-table tfoot>tr>th{
        padding: 8px ;
    }

    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
        content: none;
    }
}

.ws-user-item{
    display: flex;
    align-items: center;

    .ant-avatar{
        width: var(--pi-icon-m)!important;
        height: var(--pi-icon-m)!important;
    }
}

/* --------------------------------------------*/
/* --workspace--*/

.ws-layout{
    max-width: 1020px;
    padding: 20px;
    margin: 0 auto;
}

.ws-side{
    border-right: 1px solid var(--pi-border-color);
}




.ws-content{
    flex: 1;

    background-color:  var(--pi-bg-color);
    height: 100%;
}

.ws-content-box{
    padding: 10px;
}

.ws-menu-ul-show{
    display: block;
}

.ws-menu-ul-collapsed{
    display: none;
}

.ws-menu-ul {
    padding: 0;
    .ws-menu-li {
        height: 40px;
        width: 220px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: var(--pi-border-radius);
        margin: 5px;
    }

    .ws-menu-li:hover{
        background-color:  var(--pi-hover-color);
    }
    .ws-menu-li-action{

        background-color:  var(--pi-action-color);

    }
}


.ws-menu-icon{
    flex-grow: 1;
    margin-left: 20px;
}

.ws-menu-title{
    flex-grow: 3;
    font-weight: bold;
    margin: 0 0 0 15px;
}

.action-li{
    background-color:  var(--pi-action-color);
}

.ws-edit-modal{
    height: 100%;
    overflow: auto;


    .ant-modal-content{
        height:100%;
    }

    .ant-modal-header{
        display: none;
    }

    .ant-modal-close{
        display: none;
    }

    .ant-modal-body{
        height: 100%;
        background: #fafafa;

        .ant-row{
            height: 100%;
        }
    }


    .ws-edit-box{
        height: 100%;
        border-radius: var(--pi-border-radius);
        padding: 10px;

        .ant-form{
            margin: 0 10px;

            .ant-form-item{
                margin: 15px 0;
            }
        }


        .ws-edit-box-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13px 13px 0;
            &-title{
                font-weight: var(--pi-font-weight-title);
                font-size: var(--thoughtware-font-16);
            }
        }

        .ws-edit-form-input{
            .ant-input{
                height: 40px;
            }


            .ant-select-multiple .ant-select-selection-placeholder{
                text-align: initial;
            }

            .ant-select-selector{
                height: 40px;
            }
        }

        .ws-edit-box-footer{
            padding: 10px;
            display: flex;

            .ws-edit-box-footer-btn{
                margin:0 10px 0 0;
                width: 80px;
                height: 40px;
            }
        }

        .ant-input{
            border-radius: var(--pi-border-radius);
        }
    }
}
.ws-edit-box-select{
    display: flex;
    align-items: center;


    .thoughtware-profile .ant-avatar{
        width: 22px;
        height: 22px;
        margin: 0 3px 0  0;
    }

}




.ws-edit-modal-form{
    text-align: center;
    margin: 10px 50px 0 0;
}

.ws-edit-modal-form-submit{
    margin-left: -120px ;
}

.ws-edit-visibility{
    display: flex;

    &-item{
        width: 255px;
        height: 80px;
        border:1px solid  #d9d9d9;
        border-radius: var(--pi-border-radius);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        margin: 0 25px 0 0;
        background: #fff;

        &-desc{
            font-size: var(--pi-font-size-12);
            color: #cecece;
            display: flex;
        }
    }

    .ws-edit-visibility-action{
        border: 1px solid var(--pi-base-color);
    }

}


/*--------------------------------------------*/
/*--workspaceList --*/

.wslist-searchbtn{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.wslist-eibtn{
    display: flex;
    justify-content: space-between;
}


/* --------------------------------------------*/
/* --workspaceDetailMenu--*/




.show-category:hover + .show-categorynav{
    display: block;
}

.show-categorynav{
    position: absolute;
    margin: -50px 0 0 80px;
    display: none;
    width: 100px;
    box-shadow:var(--pi-box-shadow);
}

.show-categorynav:hover{
    display: block;
}


.ws-show-set{
    display: block;
}
.ws-hide-set{
    display: none;
}




.pi-input{
    width: 200px;
    border:var(--pi-input-border)
}