.quicktest-contant{
    display: flex;
    height: 100%;

    .quicktest-left{
        width: 220px;
        border-right: 1px solid #e4e4e4;
    }

    .quicktest-right{
        padding: 0 10px;
        flex-grow: 2;
        overflow: auto;
    }

}

.quicktest-contant-box{
    //width: 1240px;
}


.qt-left-header{
    display: flex;
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #e4e4e4;

    .qt-left-heaer-clear{
        padding: 0 10px;
        width: 60px;
        margin: 0 0 0 10px;
        line-height: 32px;
        color: red;
        cursor: pointer;
    }
}

//leftList
.qt-left-list{
    overflow: auto;
    height: calc(100% - 53px);

    .qt-left-list-li{
        padding:5px 5px 5px 10px;
        cursor: pointer;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #e4e4e4;

        .qt-left-list-li-status{
            margin: 0 10px;
            color: green;
        }
    }
    .qt-left-list-li:hover{
        background: #fafafa;
    }

}

.qt-left-empty{
    align-items: center;
    overflow: auto;
}