

.share-modal{
    height: 180px;
    //padding: 20px 10px;

    .share-modal-link{
          width: 100%;
          font-size: 12px;
          border: 1px solid #eee;
          padding: 6px;
          cursor: text;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
}

.share-box-api-title{
    font-size: 16px;
    font-weight: bold;
}


.share-box{
    //display:flex;
    //gap:10px;
    //max-width:1280px;
    //margin:0 auto;
    overflow: auto;
    height:100%;

    &-left{
        width: 240px;
        border-right:1px solid var(--pi-border-color);
        background: var(--pi-bg-grey-100);
        height: 100%;
        z-index: 10;
        position: fixed;

        .ant-tree-list{
            background: #f8f8f8;
        }
    }

    &-right{
        display: flex;
        justify-content: center;
        padding: 10px 90px 10px 248px;
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        height: 100%;

        .api-detail-content{
            max-width: 960px;
        }

        &-content{
            margin: 0 auto;
            max-width: 1440px;

            display: flex;

            .share-box-right-detail-content{
                flex: 1;
            }

            &-item{

                &-detail{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    margin: 20px 0;

                    .status-box{
                        padding: 0 5px;
                        border-radius: var(--pi-border-radius);
                        border: 1px solid #e3e8f0;
                        background: #f8f8f8;
                       font-size:12px;
                    }
                }

                .share-detail-title{
                    font-size: 13px;
                    color: #aaa;
                }

                .share-request-item{
                    margin: 10px 0;

                    .share-right-table{
                        margin: 5px 0;

                        th{
                            background:  var(--pi-bg-color) !important;
                        }

                        /* 表头设置*/
                        .ant-table-thead>tr .ant-table-cell{
                            font-weight: var(--pi-font-weight-light);
                            padding: 10px;
                            font-size: 13px;
                        }

                        .ant-table-tbody .ant-table-cell{
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

}

.share-anchor{
    width: 100px;
    height: 100%;
    position: fixed;
    margin: 0 0 0 630px;
    top: 57px;

    &-box{
        margin: 100px 0;
        border-left: 4px  solid #f1f1f1;
    }

    &-item{
        padding: 10px;
        cursor: pointer;
    }
    &-item:hover{
        color: var(--pi-base-color);
    }
}


.share-verify-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-content{
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: -300px 0 0 0;

        &-title{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 20px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.share-link-box{
    display: flex;
    height: 100%;

    .share-link-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100% ;
        background-color: #e3e8f0;

        .share-link-left-bottom{
            padding: 20px 0;
        }
    }

    .share-left-header{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .share-left-logo{
            width: 24px;
            height: 24px;
        }

        .share-left-name {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .share-left-list{
        padding:0 10px;
    }


}
