//requestType
.requestType{
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
}

.requestType-post{
    color: white;
    background: var(--pi-error-color);
}

.requestType-post-text{
    color: var(--pi-error-color);
}

.requestType-get{
    color: white;
    background: var(--pi-success-color);
}
.requestType-get-text{
    color: var(--pi-success-color);
}

.requestType-delete{
    color: white;
    background: var(--pi-delete-color);
}
.requestType-delete-text{
    color: var(--pi-delete-color);
}

.requestType-head{
    color: white;
    background: var(--pi-head-color);
}
.requestType-head-text{
    color: var(--pi-head-color);
}

.requestType-put{
    color: white;
    background: var(--pi-put-color);
}
.requestType-put-text{
    color: var(--pi-put-color);
}

.requestType-options{
    color: white;
    background: var(--pi-option-color);
}
.requestType-options-text{
    color: var(--pi-option-color);
}

.requestType-patch{
    color: white;
    background: var(--pi-patch-color);
}
.requestType-patch-text{
    color: var(--pi-patch-color);
}

.protocol-ws-text{
    color: #0070ff
}


.ws-side-menu{
    //background: var(--pi-bg-grey-100);
    border-right: 1px solid var(--pi-border-color)
}

.ws-detail-title{
    font-size: var(--pi-font-size-16);
    font-weight: var(--pi-font-weight-title);
}

.back-contant:hover{
    color: #48a8d9;
    cursor: pointer;


}

.back-ex-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid var(--pi-border-color);
    height: 42px;
}


.CodeMirror-scroll{
    min-height: 150px;
}



.sort-box{
    position:relative;
    padding: 10px;

    .sort-box-title{
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .sort-show-box{
        position: absolute;
        width: 236px;
        left: -175px;
        background: rgb(255 255 255);
        padding: 10px;
        z-index: 10;
        border: 1px solid var(--pi-border-color);
        box-shadow: var(--pi-box-shadow);
        border-radius: 5px;
        display: none;

        &-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &-sort{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50px;


                .sort-icon{
                    width:25px;
                    height:25px;
                    //display: none;
                    padding: 5px;
                }

                .action-sort{
                    cursor: pointer;
                    background: var(--pi-action-color);
                    border-radius: var(--pi-border-radius);
                    display: block;
                }
            }
        }

        .sort-item-action{
            border-radius: var(--pi-border-radius);
            //background: var(--pi-action-color);
        }

        &-item:hover{
            cursor: pointer;
            background: var(--pi-bg-grey-100)
        }

    }
}
.sort-box:hover .sort-show-box{
    display: block;
}


.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.structure-header-box{
    width: 310px;

    .structure-box-select{
        width: 100px;

        .ant-select-selector{
            border-radius: var(--pi-border-radius)!important;
            border: none!important;
            background-color: #f4f5f7!important;
        }
    }
}


.editable-row-padding>.ant-table-cell{
    padding: 5px;
}

.request-body-none{
    border: 1px solid var(--pi-border-color);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-name{
    width: 150px;
}


.left-tree-box{
    position: relative;
    display: flex;

    .left-tree-content{
        height: 100%;
        width: 100%;
        //background: var(--pi-bg-grey-100);
        border-right: 1px solid var(--pi-border-color);
    }


    .middleBox{
        cursor: col-resize;
        height: 100%;
        width: 16px;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        display: flex;
        justify-content: center;

        .middleBox-show{
            width: 2px;
            height: 100%;
            transition: 0.3s;
        }
    }

    .middleBox:hover .middleBox-show{
        background: #dedede;
    }
}

.ws-param-title{
    font-size: var(--pi-font-size-12);
}
