

$borderRadius:5px;

.home-content{
    overflow: auto;
    /*background-color:#f0f2f5;*/
    height: calc(100% - 50px);
    background: #f6f8fa;

    .home-content-box{
        /*width: 800px;*/
        margin: 0 auto;
        width: 1220px;
        padding: 10px 10px 0 10px ;

        .ant-list-item-meta{
            align-items: center;
        }

        &-top{
            display: flex;
            justify-content: space-between;


            .home-box-item{
                border: 1px solid #e4e4e4;
                width: 595px;
                height: 425px;
                border-radius: 5px;
                background: #fff;
                //box-shadow: 0 3px 6px rgb(140 149 159 / 15%);
                overflow: hidden;
            }

        }

        .home-item-title-box{
            padding: 10px;
            margin: 0 0 5px;
            //border-bottom: 1px solid #e4e4e4;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .home-item-title{
                display: flex;
                align-items: center;
                font-weight: 600;
            }

            .home-item-title-icon{
                width: 30px;
                height: 30px;
                margin: 0 10px 0 0;
            }



        }

        .home-box-item-dynamic{
            border-radius: 5px;
            margin: 10px 0;
            border: 1px solid #e4e4e4;
            background: #fff;
            //box-shadow: 0 3px 6px rgb(140 149 159 / 15%);

        }

    }
}

.home-box-item-detail{
    padding: 10px;
    height: 358px;
}

.dynamic-item-box-icon{
    width: 30px;
    height: 30px;
    //margin: 0 10px 0 0;
}

.demo-loadmore-list {
    min-height: 350px;
}


.home-title{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.home-item-box{
    border: 1px solid #e4e4e4;
    padding: 20px;
    height: 150px;
}

.home-detail-box{
    display: flex;

    .home-detail-left{
        width:240px;

        .home-detail-left-menu{
            margin: 45px 0 40px;
            border: 1px solid #e4e4e4;
            padding: 0 0 100px 0;
            border-radius: $borderRadius;
        }

        .home-detail-list-li{
            padding: 10px;
        }

        .home-detail-list-li:hover{
            background: #f5f5f5;
            cursor: pointer;
        }


        .home-detail-left-help{
            border: 1px solid #e4e4e4;
            padding: 0 0 100px 0;
            border-radius: $borderRadius;
        }

        .home-help-item{
            padding: 10px;
            //display: block;
            color: black;
        }
    }

}

.home-detail-right{
    flex: 1;
    margin: 0 0 0 40px;

    &-top{
        display: flex;
        margin: 0 0 40px 0;
        //border: 1px solid #e4e4e4;

        &-begin{
            height: 200px;
            width: 200px;
            //border: 1px solid #e4e4e4;


            &-detail{
                border-radius: $borderRadius;
            }
        }

        .home-begin-start{
            margin: 40px 0 0 0;
            padding: 5px;
            color: #0d8fff;
            cursor: pointer;
        }

        &-workspace{
            margin: 0 0 0 60px;

            &-detail{
                display: flex;
                width: 600px;
                justify-content: space-around;
                border-radius: $borderRadius;


            }
        }
    }
}

.home-dynamic-item{
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;

    &-time{
        font-size: 13px;
        padding:0 5px ;
    }
}