
.content-box-center{
    //display: flex;
    //justify-content: center;

    .list-content-center{
        width: 860px;
    }

}

.edit-icon{
    cursor:pointer;
    margin: 5px 0 0;
}

.edit-icon-nav{
    cursor:pointer;
}

.form-info{
    padding: 10px 25px;
    .ant-input[disabled] {
        font-size: 14px;
        color: #000;
        cursor: text;
    }
}

.header-title{
    font-weight: var(--pi-font-weight-title);
    font-size: var(--pi-font-size-13);
    padding-left: 3px;
}

.ex-title{
    margin: 20px 0 0;

}


.edit-api-name{
    //padding:10px;
    font-size:20px;
    cursor: auto
}

.ediText-edit{
    background: var(--pi-bg-color);
    border: none;
    padding: 0;
    cursor: pointer;
}

.ediText-save{
    display: none;
}

.ediText-cancel{
    display: none;
}

.edit-api-title{
    cursor: auto;
}



// apxMethod
.api-content-box{
    //max-width: 1440px;
    .ant-menu-horizontal{
        background: #f7f7f7;
        //border-bottom: 2px solid #dedede;
    }

    //.ant-tabs-tab{
    //    background: var(--pi-background-color)!important;
    //}

    //.ant-tabs-nav-wrap{
    //    background: var(--pi-background-color)!important;
    //}

    .ant-tabs-nav-add{
        background: var(--pi-background-color);
    }


}

.wscontant-box{

    .ant-tabs-nav{
        background: #f7f7f7;
    }

}


.table-edit-icon{
    cursor: pointer;
    margin: 0 5px;
}

.method-header{
    line-height: 47px;
    background-color:var(--pi-bg-color);
    height: 50px;
    border-bottom:1px solid var(--pi-border-color) ;
    padding: 0;
}

.method-menu-box>.ant-menu-horizontal{
    border-bottom:0
}

.method-content-margin{
    max-width: 1440px;
    //margin: 10px auto;
    //padding: 10px;

    //background-color:var(--pi-bg-color);
}

.method-content{
    background-color:var(--pi-bg-color);
    margin: 0 10px 10px;
    padding: 10px;
    border-radius:var(--pi-border-radius);
    //border:1px solid #efefef;
    min-height: 700px;
    //min-width: 860px;

    .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        content: none;
    }


    .ant-tabs-nav{
        background: white;
    }


}

.method-menu{
    background-color:var(--pi-bg-color);
}


.out-table-box{
    th{
        background:  white !important;
    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before{
        position: inherit;
    }

    .ant-table-thead>tr .ant-table-cell{
        font-weight: 500;
        font-size: 14px;
    }

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px;
    }


}

.tabPane-item-box{
    th{
        background:  var(--pi-bg-color) !important;
    }

    // 表头设置
    .ant-table-thead>tr .ant-table-cell{
        font-weight: var(--pi-font-weight-light);
        padding: 7px;
        font-size: 13px;
    }

    //border-top: 1px solid #f0f0f0;
}


// --------------------------------
// ApxMethodDetail
.apidetail-header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 5px;
    height: 51px;


    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        border: none;
    }
}

.apidetail-title-tool{
    display: flex;
}

/* 可编辑框初始宽度 */
.editable-cell-value-wrap {
    width: 100%;
    height: 100%;
    min-height: 21px;

}

.method-request{
    margin: 0 10px 15px 10px  ;
    padding: 10px ;
    box-sizing: border-box;
    border-radius: 5px;
}

.method-response{
    margin: 15px 10px;
    padding: 10px ;
    box-sizing: border-box;
    border-radius: 5px;
}

.method-name{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 25px;
}

.method{
    padding: 0 0 0 5px;
    margin: 0 0 30px 0 ;

    .method-info{


        .method-info-item{
            margin: 0 10px 0 0;
        }

        .method-info-path{
            font-size: 16px;
            font-weight: 600;
        }
    }

    .info-item{
        margin: 0 0 10px 0;
        display: flex;
        align-items: center;
        height: 41px;
    }

    .method-people-info{
        display: flex;

        .people-item{
            margin: 0 80px 0 0;
            color: #999;
            max-width: 28%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            text-indent: 0;
            font-size: var(--pi-font-size-13);
        }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        border: none;
    }

}



// 可编辑表格，当鼠标移入行时，显示单元格
.editable-row{
    .editable-cell-value-wrap {
        height: 31.6px;
        padding: 5px 12px;
        cursor: pointer;
        background-color: var(--pi-bg-color);
    }

    .ant-select{
        height: 31.6px;
        cursor: pointer;
        background-color:var(--pi-bg-color);
    }

    .ant-select-arrow{
        display: none;
    }

    .ant-checkbox-inner{
        border:none
    }
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid var(--pi-border-color);
    border-radius: 4px;
    padding: 4px 11px;
}

.editable-row:hover .ant-select {
    border: 1px solid var(--pi-border-color);
    border-radius: 4px;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid var(--pi-border-color);
}

.editable-row:hover .ant-select-arrow{
    display: block;
}

.editable-row:hover .ant-checkbox-inner{
    border: 1px solid var(--pi-border-color);
}

// .ant-table-thead>tr>th{
//     padding: 10px;
//     font-size: 13px;
// }

// .ant-table-tbody>tr>td{
//     padding: 5px;
//     font-size: 13px;
// }



// request
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:#0053ca;
}
.raw-box{
    .ant-form-item{
        margin: 0;
    }

    .ant-select-selector{
        border: none;
    }

    &-header{
        display: flex;
        background: var(--pi-greyf9-color);
        align-items: center;
        padding: 5px;
    }
}

.textArea-focus{
    display: block;
}

.textArea-blur{
    display: none;
}


//
.request-radio{
    margin:8px 0 ;
}

//
.binary-box{
    height: 80px;
}


.ws-param-title{
    font-size: var(--pi-font-size-12);
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap{
    //background: white;
}

